body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-container {
    margin-right: 20px;
}

.youtube-logo {
    width: 60px;
}

h1 {
    font-family:system-ui;
    margin: 0;
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    flex: 1;
    color: #333;
}

.search-input {
    width: 200px; /* Adjust the width as per your preference */
    padding: 10px;
    margin-right: 10px; /* Add margin to create a gap between the input and button */
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #db0f0f;
    color: #fff;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

iframe {
    width: 100%;
    height: 180px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 20px;
}
